<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
  <title>{{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <script type="text/javascript" src="/highlighter/scripts/shCore.js"></script>
  <script type="text/javascript" src="/highlighter/scripts/shBrushBash.js"></script>
  <script type="text/javascript" src="/highlighter/scripts/shBrushCss.js"></script>
  <script type="text/javascript" src="/highlighter/scripts/shBrushXml.js"></script>
  <script type="text/javascript" src="/highlighter/scripts/shBrushJScript.js"></script>
  <script type="text/javascript" src="/highlighter/scripts/shBrushPlain.js"></script>
  <script type="text/javascript" src="/highlighter/scripts/shBrushRuby.js"></script>
  <script type="text/javascript" src="/highlighter/scripts/shLegacy.js"></script>

  <link type="text/css" rel="stylesheet" href="/highlighter/styles/shCore.css"/>
  <link type="text/css" rel="stylesheet" href="/highlighter/styles/shThemeDefault.css"/>
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/print_styles.css" media="all" />

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
  <script type="text/javascript">
  SyntaxHighlighter.config.clipboardSwf = '/highlighter/scripts/clipboard.swf';
  SyntaxHighlighter.all();
  </script>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <META NAME="DESCRIPTION" CONTENT="{{ title }} - A Jumpstart Lab Ruby on Rails tutorial."/>
  <META NAME="KEYWORDS" CONTENT="jumpstart, Jumpstart, jumpstart lab, lab jumpstart, Jumpstart Lab, what is Jumpstart Lab?, what is jumpstart lab"/>
</head>
<body>
  <div class="content-wrapper">
    <div class="project_breadcrumbs">...</div>
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>
</body>
</html>
